
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html{
  font-size:62.5%;
}
body{
  font-size:14px;
}
.ant-modal-wrap{
  overflow: hidden;
}
.ant-modal{
  top:20px;
  padding-bottom:0;
  height:95%;
  overflow: auto;
}
.ant-menu-horizontal{
  padding-left:5.4rem;
}
.sub-container{
  text-align:left;
}
.box-body .ant-tabs-bar{
  border:none;
}
.login-box .ant-tabs-nav-wrap{
  margin-bottom:4rem ;
}
.login-box .ant-input-affix-wrapper{
  height:4rem;
}
.register .ant-form-item-control-wrapper{
  text-align:left;
}
